<!-- this container will be displayed when the user is not admin -->
<div class="container">
  <div class="row">
    <section class="booksSection">
      <div
        class="books"
        *ngFor="
          let book of book | search : this.loginService.searchStatus();
          let i = index
        "
      >
        <div class="card" style="width: 20rem; height: 100%">
          <img
            src="{{ book.image }}"
            class="card-img-top"
            alt="{{ book.alt }}"
          />
          <div class="card-body">
            <h5 class="card-title">Title: {{ book.title }}</h5>
            <p class="card-text" id="genre">Genre: {{ book.genre }}</p>
            <p class="card-text" id="pageCount">
              Page Count: {{ book.pageCount }}
            </p>
            <p class="card-text" id="quantity">Quantity: {{ book.quantity }}</p>
            <p class="card-text" id="authors">Authors: {{ book.author }}</p>
            <div class="readingList">
              <button
                *ngIf="loginStatus() === 'user'"
                type="button"
                id="readingList"
                class="btn"
                (click)="addToReadingList(book._id)"
              >
                Add to ReadingList
              </button>
            </div>
            <div class="button" *ngIf="loginStatus() === 'admin'">
              <button
                type="button"
                id="deleteBook"
                class="btn"
                (click)="deleteBook(book._id)"
              >
                Delete Book
              </button>
              <button
                type="button"
                id="updateBook"
                class="btn"
                (click)="showBook(book._id)"
              >
                Update Book
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
