.container {
  height: 80vh;
  margin-bottom: 20px;
}

/* Form content */
.loginForm {
  margin-top: 5%;
  width: 50%;
  height: 90%;
  text-align: center;
  margin: auto;
}

.card {
  border-radius: 5%;
  margin-top: 15%;
  text-align: end;
  background-color: #e6e6e6;
}

.card h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  text-align: center;
  color: #000000;
}

/*username input field*/
#username {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #000000;
  background-color: #f5f5f7;
}

/* Password input field */
#password {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #5e5e5e;
  background-color: #f5f5f7;
}

#submit {
  background-color: #0d3563;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  background-color: #0066cc;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#switch {
  background-color: #0d3563;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  background-color: #0066cc;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.submitButton {
  text-align: center;
  margin-top: 40px;
}

.text-danger {
  margin-top: 1%;
  margin-left: 2%;
  text-align: left;
}

/* css for mobile screens */
@media only screen and (max-width: 600px) {
  .loginForm {
    margin: auto;
    width: auto;
  }
}
