<div class="container">
  <div *ngIf="this.loginService.isLoading" style="text-align: center">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div class="row" *ngIf="!this.loginService.isLoading">
    <div class="loginForm">
      <div class="card">
        <h3>Sign In</h3>
        <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-5">
              <input
                type="email"
                id="username"
                class="form-control"
                placeholder="Email"
                formControlName="username"
              />
            </div>
            <div class="mb-5">
              <input
                type="password"
                id="password"
                class="form-control"
                placeholder="Password"
                formControlName="password"
              />
            </div>
            <div class="submitButton">
              <button
                type="submit"
                id="submit"
                class="btn"
                [disabled]="this.loginForm.invalid"
              >
                {{ isLogin ? "User Login" : "Admin Login" }}
              </button>
              |
              <button
                type="button"
                id="switch"
                class="btn"
                (click)="changeUser()"
              >
                Switch to {{ isLogin ? "Admin Login" : "User Login" }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
